<!-- templates/land/index.html -->
{% extends 'siteinfo/base.html' %}
{% load static %}

{% block title %}Home - LandLink{% endblock %}

{% block content %}
    <div class="row">
        <div class="">
            <h2 class = 'text-center'>Welcome to LandLink</h2>
            <p>
                LandLink is your one-stop solution for all your land-related needs.
                We offer a wide range of services including buying, selling, and legal assistance.
            </p>
            <p>
                Explore our website to learn more about our services and how we can assist you in your land transactions.
            </p>
            <p class='text-center'>
                Visit our <a href="">About</a> page to know more about us.
            </p>
            <p class='text-center'>
                View our <a href="">Login</a> page to access your account.
            </p>
            <p class='text-center'>
                Check out our <a href="" target="_blank">GitHub</a> repository for the source code.
            </p>
        </div>
    </div>
{% endblock %}
